---
layout: page
title: blog
description: Field notes, lab how-tos, and side projects.
permalink: /blog/
---
<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <a class="post-list-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    <p class="post-list-desc">{{ post.description }}</p>
    <p class="post-meta">
      {{ post.date | date: "%B %-d, %Y" }}
      {% for tag in post.tags %}&nbsp;&middot;&nbsp;<span class="tag">#{{ tag }}</span>{% endfor %}
    </p>
  </li>
  {% endfor %}
</ul>
