<nav class="post-nav">
  {%- if page.previous.url -%}
  <a class="post-nav-item prev" href="{{ page.previous.url | relative_url }}">
    <span class="post-nav-label">&larr; Previous</span>
    <span>{{ page.previous.title }}</span>
  </a>
  {%- else -%}
  <a class="post-nav-item prev" href="{{ '/blog/' | relative_url }}">
    <span class="post-nav-label">&larr; Back</span>
    <span>All posts</span>
  </a>
  {%- endif -%}
  {%- if page.next.url -%}
  <a class="post-nav-item next" href="{{ page.next.url | relative_url }}">
    <span class="post-nav-label">Next &rarr;</span>
    <span>{{ page.next.title }}</span>
  </a>
  {%- else -%}
  <a class="post-nav-item next" href="{{ '/blog/' | relative_url }}">
    <span class="post-nav-label">Back &rarr;</span>
    <span>All posts</span>
  </a>
  {%- endif -%}
</nav>
